# Ignorar la carpeta node_modules
node_modules/

# Ignorar archivos de log
*.log

# Ignorar archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de configuración del editor
*.swp
*.swo
*.swn
.idea/
.vscode/

# Ignorar archivos de configuración de paquetes
package-lock.json
yarn.lock

# Ignorar archivos de compilación
dist/
build/